.patient-dashboard-container {
    max-width: 800%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/female-doctors-bathrobes-african-girl-stethoscope-doctor-s-neck_1157-47156.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

 
 
  
  .view-doctors-button {
    padding: 10px 20px;
    background-color: cadetblue;
    color: black;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .view-doctors-button:hover {
    background-color: grey;
  }
 